.moreTable_link {
	font-size: 14px;
	background-color: #EEEEEE;
	line-height: 20px;
}
.moreTable_title {
	font-size: 15px;
	text-indent: 10px;
	background-color: #EEEEEE;
	line-height: 20px;
	color: #0000F4;
}
.moreTable_topic {
	font-size: 12px;
	text-indent: 24px;
}
.moreTable_info {
	font-size: 14px;
	text-indent: 10px;
	color: #5B5B5B;
}
